*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.box1{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
}

.box2{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}

.box3{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 400px;
}

.box4{
    height: 200px;
    width: 200px;
    background-color: maroon;
    position: absolute;
    top: 0;
    left: 200px;
}